In [25]:
print("Starting Computations....")

from scipy.io import loadmat
# manipulating directory paths
import os
import pandas as pd

Starting Computations....

In [26]:
digit = pd.read_csv('/Users/moutasemakkad/Desktop/final/Data/mnist_test.csv',header=None, low_memory=False)

alphabet =pd.read_csv('/Users/moutasemakkad/Desktop/final/Data/A_Z Handwritten Data.csv',header=None, low_memory=False)



digit1 = pd.read_csv('/Users/moutasemakkad/Desktop/final/Data/mnist_train.csv',header=None, low_memory=False)

print("Done Importing Files......")

Done Importing Files......

In [28]:
alphabet.rename(columns={'0':'label'}, inplace=True)
alphabet.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:

digit.drop(digit.index[0], inplace=True)
digit1.drop(digit1.index[0], inplace=True)

print("Dropped Label Columns......")

Dropped Label Columns......

In [31]:

df_total = pd.concat([alphabet, digit, digit1])

print("Merged All data into one df......")
df_total.head()

Merged All data into one df......

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
len(df_total.columns)

785

In [33]:
# In[6]:


df_total = df_total.astype(float)

y = df_total.iloc[:,0]

X = df_total.drop(labels=784, axis=1)

print("Converted Data to Floats......")

Converted Data to Floats......

In [34]:
X.shape

(442451, 784)

In [35]:
X.shape

(442451, 784)

In [36]:
y = y.as_matrix()
X = X.as_matrix()
print("Converted to matrix......")

Converted to matrix......

/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [37]:
X.shape

(442451, 784)

In [38]:
import numpy as np
from sklearn.model_selection import train_test_split

In [39]:

print("Splitting Data......")
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

Splitting Data......

In [40]:
X_train /= 255
X_test /= 255

In [41]:
X_train.shape

(296442, 784)

In [42]:

len_tarin = len(X_train)

len_test = len(X_test)

In [43]:
# print("Reshaping Data......")
# X_train = X_train.reshape(len_tarin,784) # we not have matrixes of 28x28 we need to vectorize each digit into 784
# X_test = X_test.reshape(len_test,784)



# print("Creating NN......")
# input_layer_size = 784    # 28X28 Pixles
# hidden_layer_size = 25    # 25 hidden units
# num_labels = 62          # 36 labels, from 0 to 9

In [44]:

# we need to hot-encode Y-values each digit into 0s and 1s so it look in the form of 0000001010
# from keras.utils import to_categorical
# y_train = to_categorical(y_train, num_classes=num_labels)
# y_test = to_categorical(y_test, num_classes=num_labels)

In [45]:
# import Sequential
# from keras.models import Sequential
# from keras.layers import Dense, Activation, Dropout

In [46]:

# Step 2: Create MLP model
# model = Sequential()     
# model.add(Dense(512, activation='relu', input_shape=(784,)))    #First hidden layer, 512 neurons, activation relu, input 784 array --num pixels--
# model.add(Dropout(0.2))                                         
# model.add(Dense(512, activation='relu'))                       
# model.add(Dropout(0.2))
# model.add(Dense(num_labels, activation='softmax'))   # Final layer, 10 outputs 1-10
# model.summary()

In [47]:
# print("Compiling......")
# Compile

# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [48]:
# Fit our model to the data set
# print("Fitting......")
# model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=2, batch_size=200, verbose=2)

In [49]:
# model.evaluate(X_test,y_test)

In [50]:
from __future__ import print_function
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K

Using TensorFlow backend.
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [51]:
# img_rows, img_cols = 28, 28

# if K.image_data_format() == 'channels_first':
#     X_train = X_train.reshape(X_train.shape[0], 1, img_rows, img_cols)
#     X_test = X_test.reshape(X_test.shape[0], 1, img_rows, img_cols)
#     input_shape = (1, img_rows, img_cols)
# else:
#     X_train = X_train.reshape(X_train.shape[0], img_rows, img_cols, 1)
#     X_test = X_test.reshape(X_test.shape[0], img_rows, img_cols, 1)
#     input_shape = (img_rows, img_cols, 1)
    
    
    
    
    

    
# model2 = Sequential()
# model2.add(Conv2D(32, kernel_size=(3, 3),
#                  activation='relu',
#                  input_shape=(X_train.shape[0], X_train.shape[1],  1)))
# model2.add(Conv2D(64, (3, 3), activation='relu'))
# model2.add(MaxPooling2D(pool_size=(2, 2)))
# model2.add(Dropout(0.25))
# model2.add(Flatten())
# model2.add(Dense(128, activation='relu'))
# model2.add(Dropout(0.5))
# model2.add(Dense(36, activation='softmax'))

# model2.compile(loss=keras.losses.categorical_crossentropy,
#               optimizer=keras.optimizers.Adadelta(),
#               metrics=['accuracy'])

# model2.fit(X_train, y_train,
#           batch_size=200,
#           epochs=10,
#           verbose=1,
#           validation_data=(X_test, y_test))
# score = model2.evaluate(X_test, y_test, verbose=0)
# print('Test loss:', score[0])
# print('Test accuracy:', score[1])

In [52]:
X_train.shape

(296442, 784)

In [53]:
from __future__ import print_function
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K

batch_size = 128
num_classes = 36
epochs = 12

# input image dimensions
img_rows, img_cols = 28, 28

if K.image_data_format() == 'channels_first':
    x_train = X_train.reshape(X_train.shape[0], 1, img_rows, img_cols)
    x_test = X_test.reshape(X_test.shape[0], 1, img_rows, img_cols)
    input_shape = (1, img_rows, img_cols)
else:
    x_train = X_train.reshape(X_train.shape[0], img_rows, img_cols, 1)
    x_test = X_test.reshape(X_test.shape[0], img_rows, img_cols, 1)
    input_shape = (img_rows, img_cols, 1)

x_train = x_train.astype('float32')
x_test = x_test.astype('float32')
x_train /= 255
x_test /= 255
print('x_train shape:', x_train.shape)
print(x_train.shape[0], 'train samples')
print(x_test.shape[0], 'test samples')

# convert class vectors to binary class matrices
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)

model = Sequential()
model.add(Conv2D(32, kernel_size=(3, 3),
                 activation='relu',
                 input_shape=input_shape))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='softmax'))

model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.Adadelta(),
              metrics=['accuracy'])

model.fit(x_train, y_train,
          batch_size=batch_size,
          epochs=epochs,
          verbose=1,
          validation_data=(x_test, y_test))
score = model.evaluate(x_test, y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

WARNING: Logging before flag parsing goes to stderr.
W0930 20:19:16.924163 4427965888 deprecation_wrapper.py:119] From /anaconda3/envs/PythonData/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0930 20:19:16.947263 4427965888 deprecation_wrapper.py:119] From /anaconda3/envs/PythonData/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0930 20:19:16.949331 4427965888 deprecation_wrapper.py:119] From /anaconda3/envs/PythonData/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0930 20:19:16.970759 4427965888 deprecation_wrapper.py:119] From /anaconda3/envs/PythonData/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3976: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

W0930 20:19:16.972620 4427965888 deprecation_wrapper.py:119] From /anaconda3/envs/PythonData/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0930 20:19:16.978183 4427965888 deprecation.py:506] From /anaconda3/envs/PythonData/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
W0930 20:19:17.034539 4427965888 deprecation_wrapper.py:119] From /anaconda3/envs/PythonData/lib/python3.7/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0930 20:19:17.039701 4427965888 deprecation_wrapper.py:119] From /anaconda3/envs/PythonData/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

x_train shape: (296442, 28, 28, 1)
296442 train samples
146009 test samples

W0930 20:19:17.114602 4427965888 deprecation.py:323] From /anaconda3/envs/PythonData/lib/python3.7/site-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Train on 296442 samples, validate on 146009 samples
Epoch 1/12
296442/296442 [==============================] - 300s 1ms/step - loss: 1.7070 - acc: 0.5101 - val_loss: 0.5136 - val_acc: 0.8610
Epoch 2/12
296442/296442 [==============================] - 298s 1ms/step - loss: 0.7410 - acc: 0.7848 - val_loss: 0.3924 - val_acc: 0.8906
Epoch 3/12
296442/296442 [==============================] - 299s 1ms/step - loss: 0.6067 - acc: 0.8234 - val_loss: 0.3068 - val_acc: 0.9163
Epoch 4/12
296442/296442 [==============================] - 300s 1ms/step - loss: 0.4949 - acc: 0.8562 - val_loss: 0.2511 - val_acc: 0.9296
Epoch 5/12
296442/296442 [==============================] - 299s 1ms/step - loss: 0.4212 - acc: 0.8773 - val_loss: 0.2217 - val_acc: 0.9374
Epoch 6/12
296442/296442 [==============================] - 350s 1ms/step - loss: 0.3720 - acc: 0.8924 - val_loss: 0.1894 - val_acc: 0.9464
Epoch 7/12
296442/296442 [==============================] - 299s 1ms/step - loss: 0.3358 - acc: 0.9033 - val_loss: 0.1734 - val_acc: 0.9517
Epoch 8/12
296442/296442 [==============================] - 301s 1ms/step - loss: 0.3104 - acc: 0.9113 - val_loss: 0.1577 - val_acc: 0.9565
Epoch 9/12
296442/296442 [==============================] - 301s 1ms/step - loss: 0.2911 - acc: 0.9161 - val_loss: 0.1498 - val_acc: 0.9588
Epoch 10/12
296442/296442 [==============================] - 302s 1ms/step - loss: 0.2788 - acc: 0.9206 - val_loss: 0.1488 - val_acc: 0.9591
Epoch 11/12
296442/296442 [==============================] - 299s 1ms/step - loss: 0.2679 - acc: 0.9235 - val_loss: 0.1400 - val_acc: 0.9620
Epoch 12/12
296442/296442 [==============================] - 299s 1ms/step - loss: 0.2587 - acc: 0.9262 - val_loss: 0.1396 - val_acc: 0.9622
Test loss: 0.13962619722120959
Test accuracy: 0.9621804135361519

(296442, 1, 28, 28)